```{=html}
<div class="grid">
<% for (const item of items) { %>
  <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-lg-3">
    <div class="badge-container">
      <img src="<%- item.path.replace(/\\/g, '/') %>" alt="<%- item.title ?? 'Badge' %>" class="badge-svg">
    </div>
  </div>
<% } %>
</div>

<style>
.badge-container {
  padding: 10px;
}
.badge-svg {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  
}
</style>
```