.white_head {
  background-color: rgba(211, 211, 211, 0.5); 
  color: white;
  shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

li::marker {
  color: #FF6F20;
}

.reveal .title-slide h1 {
  background: rgba(0, 0, 0, 0.5); 
  color: white;
}

.reveal h2{
    color: #FF6F20;
  
}